<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<title>Simple 2 Layer Circuit Board Template </title>
</head>
<body>
	<img src="./icon.png">
	<h2>Simple 2 Layer Setup</h2>
	<p> This creates a default board for many circuit board fabrications. </p>
	<p>Tom's hobby - Tom2rd</p>
	<img src="./Phisical.jpg">
	<img src="./DesignRule.jpg">

	<p> Please conform to the rules at</p>
	<ul>
	  <li> <a href="https://www.pcbway.com/capabilities.html">PCBWay</a></li>
	  <li><a href="https://support.seeedstudio.com/knowledgebase/articles/1190056-%E5%9F%BA%E6%9D%BF%E8%A3%BD%E9%80%A0%E3%81%AE%E4%BB%95%E6%A7%98">FusionPCB Seeed studio</a></li>
      <li><a href="https://jlcpcb.com/capabilities/pcb-capabilities">JLCPCB</a></li>
	</ul>	
	<p> and so on</p>


</body>
</html>
